.add {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00aaff;
}

table, tr, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}